* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.Login {
  position: relative;
  top: 150px;
}

.Join {
  position: relative;
  top: 150px;
}

.text_input {
  padding: 10px;
  font-weight: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 68px;
}

.h1 {
  font-size: 32px;
  text-align: center;
}

.btn {
  background-color: rgb(84, 183, 245);
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 1em;
  height: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 300px;
  margin-top: 20px;
}

.submit {
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
